<p>auto works!</p>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Formulario de Autos</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
              <div class="mb-3">
                <label cLabel for="modelo">Modelo</label>
                <input cFormControl
                       id="modelo"
                       placeholder ="ingrese modelo"
                       [(ngModel)] = "autoModelo.modelo"
                       type="text"
                       name="nombre"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="color">color</label>
                <input cFormControl
                       id="color"
                       placeholder="ingrese color"
                       type="text"
                       name="color"
                       [(ngModel)] ="autoModelo.color"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="precio">precio</label>
                <input cFormControl
                       id="porciones"
                       placeholder="ingrese el precio"
                       type="number"
                       name="precio"
                       [(ngModel)] = "autoModelo.precio"
  
                />
              </div>
              <div class="mb-3">
                <label cLabel for="usuario">Usuario</label>
                <input cFormControl
                       id="usuario"
                       type="text"
                       name="usuario"
                       [(ngModel)] = "autoModelo.usuario"
                />
                <!-- <select  aria-label="Seleccione usuario" cSelect >
                  <option></option>
                  <option value="664407b69616a061c8547132">xiac</option>
                  <option value="2">Esteban</option>
                  <option value="3">Esther</option>
                </select> -->
              </div>
              <button (click)="guardarAuto()" cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12">
      <table cTable>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color<th>
          <th scope="col">Precio</th>
          
        </tr>
        </thead>
        <tbody>
          @for ( auto of listaAutos; track auto; ){
            <tr>
              <th scope="row">1</th>
              <td>{{auto.modelo}}</td>
              <td>{{auto.color}}</td>
              <td>{{auto.precio}}</td>
              
              
              <td>
                <button cButton color="warning" variant="outline" (click)="verAuto(auto)">Editar</button>
                <button (click)="eliminarAuto(auto)" cButton color="danger" variant="outline">Eliminar</button></td>
            </tr>
          }
        </tbody>
      </table>
    </c-col>
  </c-row>